
<html>
	<head>
		<title>SalusHx</title>
	 <style type="text/css">

		 body {
			 	background-color:#CCC;
					margin:0;
						padding:0;
							font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
						}
						#center {
								margin-top:150px;
									font-size:40pt;
										color:#36C;
											font-weight:bold;
												
												}	

												#tag {
													margin-left:150px;
														font-size:14px;
															color: #900;
																}
							</style>
	 </head>
	 <body>
		 <center>
			 <div id ="center">SalusHx</div>
			 <br/>
			 <div id = "tag">Helping Doctors Do More </div>
			 <p> Thank You. We would be getting back to you shortly </p>
			 <br/>
			 
		 </center>
	</body>
</html>


