{% extends 'base.html' %}
{% block title %}SalusHx|Forgot Password{% endblock %}
{% block header %} {% endblock %}
{% block navigation %} {% endblock %}
{% block footer %} {% endblock %}

{% block container %}
<div class="container" style = "margin-top:30px;">
    <div id = "forgot-password">
	<form method="post" action = "/forgotpassword/">
	    <div id = "email-label"> Email</div>
	    <div id = "email-input"><input type="text" name="email"></div>
	    <input type="submit" value="Email Me the Password">
	</form>
    </div>

    <div id ="messages">{{message}}</div>
</div>
{% endblock %}
