{% extends 'base.html' %}
{% block title %}SalusHx | Update Password{% endblock %}
{% block header %} {% endblock %}
{% block navigation %} {% endblock %}
{% block footer %} {% endblock %}
{% block container %}
{{message}}
<form action="/updatepassword/" method="post">
    {{ forgot_password_form.as_p}}
    <input type="submit" value="Update Info">
</form>

<!--<form action="/update_password/" method="post">
    <label id="username">Username</label>
    <div id="username"><input type="text" name="username" value="{{username}}"</div>
    <label id="username">Email</label>
    <div id="username"><input type="text" name="email" value="{{useremail}}"</div>
    <label id="username">Username</label>
    <div id="username"><input type="text" name="username" value="{{username}}"</div>
    <label id="username">Username</label>
    <div id="username"><input type="text" name="username" value="{{username}}"</div>
    
    
</form>--!>

{% endblock %}

