{% extends 'boilerplate.html' %}
{% load media %}

{% block analytics_id %}UA-28885420-1{% endblock %}

{% comment %}
{% block css %}{% endblock %}
{% endcomment %}
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
{% block my_js %} {% endblock %}

{% block header %}
<header>
<h1>Site title</h1>
</header>
{% endblock %}


{% block navigation %}


<nav>
<ul>
<li><a href='/'>Home</a></li>
</ul>
</nav>
{% endblock %}

{% block footer %}

{% endblock %}

{% block content %}{% endblock %}
