/* root element for tabs  */
#tabs{
width:400px;
float:right;
margin-right:40px;
height:auto;
min-height:450px;
}
/* span#form-container{
background:#e0edf8;
} */

.ultabs {
	background:#fff;
	list-style:none; 
	margin:0 !important; 
	padding:0;
	height:25px;
	border-bottom:1px solid #2c6dc6;	
}

/* single tab */
.ultabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

.ultabs li.doctor-tabs{ 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
.ultabs li a { 
	font-size:16px;
	background:#e0edf8;	
	display:block;
	height: 25px;  
	line-height:25px;
	width: 111px;
	text-align:center;	
	text-decoration:none;
	color:#333;
	padding:0px;
	margin:0px;	
	position:relative;
	top:0px;
	border-bottom:1px solid #2c6dc6;	
	border-right:2px solid #fff;
}

.ultabs li:active a {
	background:#2c6dc6;	
	outline:none;		
}

/* when mouse enters the tab move the background image */
.ultabs a:hover {
	background-position: -652px -31px;	
	color:#fff;
	background:#2c6dc6;	
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
.ultabs .current, .ultabs .current:hover, .ultabs li.current a {
	background-position: -652px -62px;
	background:#2c6dc6;	
	cursor:default !important; 
	color:#FFF !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
.ultabs .w1 			{ background-position: -519px 0; width:134px; }
.ultabs .w1:hover 	{ background-position: -519px -31px; }
.ultabs .w1.current { background-position: -519px -62px; }

/* width 2 */
.ultabs .w2 			{ background-position: -366px -0px; width:154px; }
.ultabs .w2:hover 	{ background-position: -366px -31px; }
.ultabs .w2.current { background-position: -366px -62px; }


/* width 3 */
.ultabs .w3 			{ background-position: -193px -0px; width:174px; }
.ultabs .w3:hover 	{ background-position: -193px -31px; }
.ultabs .w3.current { background-position: -193px -62px; }

/* width 4 */
.ultabs .w4 			{ background-position: -0px -0px; width:194px; }
.ultabs .w4:hover 	{ background-position: -0px -31px; }
.ultabs .w4.current { background-position: -0px -62px; }


/* initially all panes are hidden */ 
.panes .pane {
	display:none;		
}

#tab-1 {
padding-top:3%;
padding-left:8%;
background:#e0edf8;	
height:auto;
padding-bottom:25px;
}

#tab-2 {
padding-top:3%;
padding-left:6%;
background:#e0edf8;	
height:auto;
padding-bottom:25px;
}

